@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  width: 100%;
  margin: 0px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1280px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main {
    max-width: 1920px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 100%;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 0px;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

h2 {
  margin: 0px;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

h3 {
  margin: 0px;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.titre--text {
  font-family: 'Shrikhand', cursive;
  font-weight: normal;
}

.sous-titre {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.1rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 3px;
  position: relative;
}

header a {
  position: absolute;
  left: 5%;
}

header a i {
  font-size: 1.5rem;
}

header img {
  -ms-grid-column-align: center;
      justify-self: center;
  height: 30px;
}

.image-menu {
  width: 100%;
  height: auto;
}

.image-menu {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.enchantee {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.francaise {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.palette {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.delice {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.menu {
  background-color: #f2f2f2;
  padding: 25px 5% 50px 5%;
  border-radius: 50px 50px 0px 0px;
  margin-top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 15px;
}

.menu .titre {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .titre--text {
  width: 80%;
}

.menu .titre .heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 10px;
}

.menu .titre i {
  font-size: 1.5rem;
}

.liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: auto;
  gap: 15px;
  padding: 10px 0px;
}

.liste .trait {
  margin-top: 5px;
  height: 3px;
  width: 30px;
  background-color: #99E2D0;
}

.choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: auto;
  gap: 15px;
  padding: 10px 0px;
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .choix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    gap: 15px;
    padding: 10px 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu .heart {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.carte-repas {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  overflow: hidden;
}

.carte-repas--infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 95%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px 10px 10px;
  -webkit-transition: all 450ms;
  transition: all 450ms;
}

.carte-repas--infos div {
  width: 100%;
}

.carte-repas--infos div h2 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  margin: 0px;
  font-size: 1.1rem;
}

.carte-repas--infos div p {
  font-size: 0.9rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 95%;
  margin: 0px;
}

.carte-repas--infos h3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.carte-repas .check-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  max-width: 15%;
  min-width: 15%;
  background-color: #99E2D0;
  border-radius: 0px 10px 10px 0px;
  -webkit-transition: margin-right 450ms;
  transition: margin-right 450ms;
}

.carte-repas .check-box i {
  font-size: 1.5rem;
  color: #ffffff;
  -webkit-transition: -webkit-transform 300ms 150ms ease-in-out;
  transition: -webkit-transform 300ms 150ms ease-in-out;
  transition: transform 300ms 150ms ease-in-out;
  transition: transform 300ms 150ms ease-in-out, -webkit-transform 300ms 150ms ease-in-out;
}

.carte-repas:hover {
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

.carte-repas:hover .carte-repas--infos {
  width: 75%;
}

.carte-repas:hover .check-box {
  margin-right: 0;
}

.carte-repas:hover .check-box i {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.carte-repas:hover div {
  width: 85%;
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .carte-repas {
    width: 30%;
    height: 60px;
    border-radius: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
  }
}

.heart {
  position: relative;
}

.heart .fa-heart {
  font-size: 1.5rem;
  position: absolute;
  right: 10px;
  top: -10px;
}

.heart .fa-regular {
  z-index: 1;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.heart .fa-solid {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 0;
  opacity: 0;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.heart:hover .fa-solid {
  opacity: 1;
}

.heart:hover .fa-regular {
  opacity: 0;
}

button {
  border-radius: 25px;
  height: 50px;
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  color: #ffffff;
  font-weight: bold;
  background-color: #646464;
  background-image: linear-gradient(340deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 450ms;
  transition: all 450ms;
}

button:hover {
  background-color: white;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.6);
}

/* Tablette */
@media screen and (min-width: 820px) {
  button {
    max-width: 250px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  button {
    max-width: 250px;
  }
}

.carte-repas {
  -webkit-animation: carte 600ms;
          animation: carte 600ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.c1 {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}

.c2 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.c3 {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.c4 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

@-webkit-keyframes carte {
  0% {
    opacity: 0%;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes carte {
  0% {
    opacity: 0%;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

footer {
  height: 220px;
  background-color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1920px;
  width: 100%;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  height: 90%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

footer .footer__content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  height: 60%;
}

footer i {
  width: 25px;
}

footer img {
  height: 1.2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
/*# sourceMappingURL=menus.css.map */