.heart {

    .fa-heart {
        font-size: 1.5rem;
    }

    .fa-solid {
        background: -webkit-gradient(linear, left top, left bottom, from($primary-color), to($secondary-color));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: none;
    }

    &:hover .fa-solid {
        display: block;
        opacity: 1;
    }

    &:hover .fa-regular {
        display: none;
    }
}