.loader {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    background-color: white;
    align-items: center;
    justify-content: center;
    gap: 20px;
    animation: loader 400ms;
    animation-delay: 3s;
    animation-fill-mode: forwards;

    .arc {

        border: 10px transparent;
        border-radius: 50px;
        animation: spin infinite 0.8s;
        position: fixed;
    }

    .a1 {
        border-top: $primary-color solid;
        height: 75px;
        width: 75px;
    }

    .a2 {
        border-top: $secondary-color solid;
        animation-delay: 0.1s;
        height: 50px;
        width: 50px;
    }

    .a3 {
        border-top: $tertiary-color solid;
        animation-delay: 0.2s;
        height: 25px;
        width: 25px;
    }
}

@keyframes loader {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
        z-index: -2;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    98% {
        transform: rotate(359deg);
    }

    100% {
        transform: rotate(360deg);
    }
}