.loader {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    background-color: white;
    align-items: center;
    justify-content: center;
    gap: 20px;
    animation: loader 400ms;
    animation-delay: 2s;
    animation-fill-mode: forwards;

    .ball {
        height: 50px;
        width: 50px;
        border-radius: 25px;
        animation: ball infinite 0.4s alternate;
    }

    .b1 {
        background-color: $primary-color;

    }

    .b2 {
        background-color: $secondary-color;
        animation-delay: 0.05s;
    }

    .b3 {
        background-color: $tertiary-color;
        animation-delay: 0.1s;
    }
}

@keyframes loader {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
        z-index: -2;
    }
}

@keyframes ball {
    0% {
        transform: translateY(0px);
    }

    98% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(-30px);
    }
}