.image-menu {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.enchantee {
    background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");

}

.francaise {
    background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.palette {
    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.delice {
    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}


.menu {
    background-color: $dark-grey;
    padding: 25px 5% 50px 5%;
    border-radius: 50px 50px 0px 0px;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;

    .titre {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &--text {
            width: 80%;
        }


        .heart {
            display: flex;
            align-items: center;
            justify-content: center;
            top: 10px;
        }

        i {
            font-size: 1.5rem;
        }
    }

}

.liste {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    gap: 15px;
    padding: 10px 0px;

    .trait {
        margin-top: 5px;
        height: 3px;
        width: 30px;
        background-color: $tertiary-color;
    }
}

.choix {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    gap: 15px;
    padding: 10px 0px;
}

/* Desktop */

@media screen and (min-width: 1280px) {

    .choix {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        gap: 15px;
        padding: 10px 0px;
        flex-wrap: wrap;
    }

    .menu {
        .heart {
            justify-content: flex-end;
        }
    }
}